<?xml version="1.0" ?>

<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="templating.helper.tag.class">Bundle\TagHelperBundle\Helper\TagHelper</parameter>
    </parameters>

    <services>
        <service id="gravatar.api" class="%gravatar.api.class%" />

        <service id="templating.helper.tag" class="%templating.helper.tag.class%">
            <tag name="templating.helper" alias="tag" />
        </service>
    </services>

</container>
